provaesattributi.dtd

<!ELEMENT TEI(header, facsimile?, testo+)>
<!ELEMENT header(#PCDATA)>
<!ELEMENT facsimile(#PCDATA)>
<!ELEMENT testo(#PCDATA|seg)*>
<!ELEMENT seg(#PCDATA)>

<!ATTLIST header type CDATA "intestazione" #FIXED> 
<!ATTLIST header lang NMTOKEN #IMPLIED>
<!ATTLIST facsimile source #REQUIRED>
<!ATTLIST facsimile ref #IMPLIED IDREFS>
<!ATTLIST testo id ID #REQUIRED>
<!ATTLIST testo type CDATA #IMPLIED>